<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Zarządzanie projektami</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/css/account-style.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
    <body>
        
        <div id="header-container">
            <div id="header-box">
                <div>
                    <span id="title">Zarządzanie projektami</span>
                </div>
                <div>
                    <span style="margin-right: 20px;">Zalogowano jako <span th:text="${user.firstName + ' ' + user.lastName}"></span></span>
                    <form action="#" th:action="@{/logout}" method="POST">
                        <button type="submit" id="logout-submit">Wyloguj się</button>
                    </form>
                </div>
                
            </div>
        </div>
        <div id="container">
            
            <div id="category-box">
                <a th:href="@{/projects}" class="category-label">Projekty</a>
                <a th:href="@{/tasks}" class="category-label">Zadania</a>
                <a th:href="@{/account}" class="category-label" style="color: white;">Konto</a>
            </div>
            <div id="content-box">

                <div class="project-box">
                    <div class="project-description">
                                
                        <h2>Informacje o koncie</h2>
                        <form action="#" th:action="@{/account/updateAccount}" th:object="${userUpdateDTO}" method="POST" >
                            <div>
                                Imię:<br>
                                <input type="text" class="data-input" th:field="*{firstName}">
                                <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color:red"></div>
                            </div>
                            <div>
                                Nazwisko:<br>
                                <input type="text" class="data-input" th:field="*{lastName}">
                                <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color:red"></div>
                            </div>
                            <div>
                                E-mail: <span th:text="${user.email}"></span>
                            </div>
                            <div th:if="${param.success}">
                                <span style="color:yellowgreen">Pomyślnie zapisano zmiany</span>
                            </div>
                            <br>
                            <input type="submit" value="Zapisz zmiany" class="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>